@font-face {
    font-family: "Apercu Pro";
    src: url("/fonts/ApercuPro.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Apercu Pro";
    src: url("/fonts/ApercuPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Apercu Pro";
    src: url("/fonts/ApercuPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  